/* IMPOSTAZIONI GENERALI */

/* ho inserito delle immagini al posto di alcune icone in quanto le stesse sono a pagamento su awesomefont */

body {

    color: #000;
    font-size: 1.5rem;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.8;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

button {
    font-size: 1.9rem;
    color: white;
    background: linear-gradient(35deg, #6cc1e2, #392f7a);
}

/* HEADER */
.begin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2em;

}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul a, a {
    text-decoration: none;
    color: white;
    padding: 1em;
}

ul a {
    color: rgb(121, 121, 121);
}

#register {
    color: white;
}


.header {
    color: white;
    text-align: left;
    background-image: url(../images/banner.jpg);
    background-position: 70%;
    background-size: cover;
    object-fit: cover;
    object-position: 100% 0;
    background-repeat: no-repeat;
    padding: 2em 3em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 1px 1px black;
    margin-left: 0;
    box-shadow: 10px 10px 40px gray inset;
}

.header button, .begin button, .btn_white {
    font-size: 17px;
    padding: 0.5em;
}

.header button:hover {
    animation-name: shadow;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes shadow {
  from {
        box-shadow: black 2px 2px 12px 2px;
    }
    40% {
        box-shadow: black 6px 6px 18px 6px;
    }
    70% {
        box-shadow: black 2px 2px 12px 2px;
    }
   100% {
        box-shadow: none;
    }
}

header {
    margin-top: 2em;
}


h1 {
    font-size: 3.5rem
}

/* MAIN */

main {
    font-size: 0.7em;
    font-weight: 300;
}
h2 {
    font-size: 2em;
    font-weight: 300;
}

.sezione_2 {
    padding: 2em;
}
.sezione_3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 2em;
}

.sezione_3 h3 {
    font-size: 1.9em;
}
.sezione_3 div {
    padding: 0 4em;
}
section {
    background-color: #0c0633;
    color: white;
    padding: 5em;
    line-height: 3em;
}

section a {
    font-size: 60%;
}

section button {
    padding-bottom: 0.4em;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    margin: 3em 4em;
    gap: 50px;
}

aside h3 {
    display: inline;
    display: content;
    font-size: 1.8em;
}

aside div img {
    width: 9%;
}
aside div {
    align-self: center;
}

/* FOOTER */

footer {
    font-size: 0.6em;
    font-weight: 300;
    background-color: rgb(238, 238, 238);
    padding: 2em 4em;
}

footer h3, footer h4, #icon p {
    font-size: 1.5em;
}
#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 3em;
}

#footer div {
    width: 25em;
}

#reg input, #reg button {
    width: -webkit-fill-available;
}

#reg input {
    height: 2em;
}
i {
    color: #e42424;
    font-size: 2em;
}
#icon a {
    padding: 0;
}


address {
    font-size: 0.7em;
}
/* RESPONSIVE */
